<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>saisie des Etudiants </title>
  <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"
        th:href="@{/css/bootstrap.min.css}">
  <link rel="stylesheet" type="text/css" href="../static/css/myStyle.css"
        th:href="@{/css/myStyle.css}">
  <script src="http://localhost:35729/livereload.js"></script>
</head>
<body>
<div class="panel panel-default">
  <div class="panel-heading"> saisie d'une etudiant</div>
  <div class="panel-body">
    Formulaire her!!!!
  </div>
</div>
</body>
</html>